---
title: My default title
---
<!DOCTYPE html>

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="/style.css"/>
  <title>{{ title }}</title>
</head>

<body>
    <main>
        {{ content | safe }}
    <hr/>
    <small>A website by {{ site.author }} - &copy; {{ site.copyrightYear }}</small>
    </main>
</body>

</html>